body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.lead-header {
    font-family: "Pacifico", cursive;
}
.lead-header1 {
    font-size: 77.32px;
    text-align: left;
    letter-spacing: 2.97px;
    color: #fff;
    margin-top: 96px;
    margin-left: 200px;
}
@media (max-width: 1200px) {
    .lead-header1 {
        display: block;
        width: 100%;
        margin-left: 0;
        text-align: center;
        line-height: 84px;
        font-size: 60px;
    }
}

.lead-header2 {
    font-size: 182.75px;
    text-align: left;
    line-height: 37px;
    letter-spacing: 6.49px;
    color: #b7e611;
    margin-left: 260px;
}
@media (max-width: 1200px) {
    .lead-header2 {
        display: block;
        width: 100%;
        margin-left: 0;
        text-align: center;
        line-height: 84px;
        font-size: 100px;
    }
}

.header {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 75px;
}
.logo {
    max-width: 208px;
    max-height: 64px;
    margin-top: 50px;
    color: #fff;
}

.button,
.button:active,
.button:focus {
    padding: 12px 32px;
    line-height: 1;
    border: none;
    border-radius: 34.5px;
    opacity: .9;
    color: #fff;
    background-color: #a3d200;
    cursor: pointer;
}
.button:hover {
    border-color: #b7e611;
    opacity: 1;
}

.login-button {
    margin-top: 63px;
}
@media (max-width: 1200px) {
    .login-button {
        margin-top: 16px;
    }
}

.header-1 {
    margin-top: 50px;
    line-height: 48px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 35px;
    text-align: left;
    color: #333333;
}

.description-cover {
    width: 100%;
}

.lead-text {
    font-family: "Open Sans", Regular;
    font-size: 18px;
}

.button-about {
    margin-top: 128px;
}

.store-card {
    margin-bottom: 48px;
}
.store-card__link {
    display: block;
    text-decoration: inherit;
    color: inherit;
}
.store-card__image {
    width: 100%;
    border-radius: 16px;
}

.store-card__name {
    margin: 6px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #333333;
}
.store-card__text {
    margin: 6px 0 0 0;
}

.store-card__order-info {
    margin: 6px 0;
    font-size: 16px;
    line-height: 22px;
}

.store-card__min-price {
    font-weight: bold;
}

.store-card__delivery-info {
    margin: 0 0 6px 0;
    font-weight: bold;
}

.footer {
    margin-top: 100px;
    padding-bottom: 64px;
    background-color: #333333;
}
@media (max-width: 768px) {
    .footer {
        margin-top: 30px;
    }
}

.footer__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 40px;
}
@media (min-width: 768px) {
    .footer__title {
        text-align: left;
    }
}

.footer__navlink {
    display: block;
    font-family: "Open Sans", Regular;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: underline;
    color: #cccccc;
}
.footer__navlink:hover {
    color: #a3d200;
}
@media (min-width: 768px) {
    .footer__navlink {
        text-align: left;
    }
}

.footer__text {
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    color: #cccccc;
}
.footer__social-icons {
    text-align: center;
}
@media (min-width: 768px) {
    .footer__social-icons {
        text-align: right;
    }
}

.footer__social-icon {
    margin-top: 40px;
    margin-left: 15px;
}
.footer__copyright {
    text-align: center;
    line-height: 24px;
    margin-top: 40px;
}
@media (min-width: 768px) {
    .footer__copyright {
        text-align: right;
    }
}
