.slogan {
    font-family: Pacifico, Regular;
}
.slogan1 {
    font-size: 77.32px;
    text-align: left;
    letter-spacing: 2.97px;
    color: #FFFFFF;
    margin-left: 200px;
    margin-top: 96px;
}
.slogan2 {
    font-size: 182.75px;
    text-align: left;
    letter-spacing: 6.49px;
    color: #B7E611;
    margin-left: 260px;
    margin-top: -130px;
}
.header {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    height: 650px;
}
.logo {
    max-width: 208px;
    max-height: 64px; 
    margin-top: 50px;
    color: #FFFFFF;
}
.login-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    width: 190px;
    height: 40px;
    margin-top: 63px;
    background: #A3D200;
    border-radius: 34.5px;
    border: none;
    opacity: 0.9;
}
.button-about {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background: #A3D200;
    border-radius: 34.5px;
    height: 50px;
    width: 150px;
    border: none;
    opacity: 0.9;
    margin-top: 20px;
}
button, 
button:active, 
button:focus {
    outline: none;
}
button:hover {
    border-color: #B7E611;
    opacity: 1;
}
.about-us {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    text-align: left;
    color: #333333;
    margin-top: 50px;
    margin-left: 100px;
}
.text-container {
    margin-left: 100px;
    font-family: 'Open Sans', Regular;
    font-size: 18px;
}
.restaurant-name {
    margin-left: 80px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #333333;
    margin-top: -45px;
}
.order {
    margin-left: 80px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
}
.IPdelivery {
    margin-left: 80px;
    margin-top: 25px;
    line-height: 1px;
}
.free {
    margin-left: 80px;
    line-height: 1px;
}
.boldtext {
    font-family: 'Open Sans';
    font-weight: bold;
}
.button-all-rest {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 43.13px;
    opacity: 0.9;
    background-color: #A3D200;
    border: none;
    width: 323px;
    height: 50px;
    margin-top: 38px;
}
.footer {
    margin-top: 100px;
    background-color: #333333;
}
.footer-right-part {
    text-align: right;
}
h4 {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 1px;
    color: #999999;
    margin-top: 40px;
}
.footer-info {
    font-family: 'Open Sans', Regular;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    color: #CCCCCC;
}
.footer-info-about {
    text-decoration-style: underline solid;
}
.footer-info-about:hover {
    color: blueviolet;
}
.social-icons {
    margin-top: 40px;
    margin-right: 15px;
}
.copyright {
    text-align: right;
    line-height: 24px;
    margin-top: 40px;
}